* {
  font-family: Roboto, Arial;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-y: auto;
  height: 100vh;
}

.playlist-titles {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  list-style: decimal;
  padding-left: 40px;
  margin: 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  font-size: 14px;
  line-height: 1.6;
  cursor: pointer;
  max-height: 200px;
  overflow-y: auto;
}

.playlist-name {
  text-align: center;
  color: #2b3c5b;
}

.playlists-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
}

.playlists-cards > div {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  padding: 10px;
  text-align: center;
  min-width: 0;
}

.cover-playlist {
  width: 100px;
  height: 100px;
}

.hidden {
  display: none;
}