* {
  font-family: Roboto, Arial;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 8px;                 /* ширина полосы */
}

html::-webkit-scrollbar-track {
  background: rgb(233, 187, 142);  /* фон дорожки */
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: rgb(180, 120, 70);   /* сам ползунок */
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 90, 50);
}

body {
  margin: 0;
  overflow-y: auto;
  height: fit-content;
  background-color: rgb(205, 127, 50);
}

.playlist-titles {
  background-color: rgb(233, 187, 142);
  border-radius: 15px;
  padding: 15px;
  list-style: decimal;
  padding-left: 40px;
  margin: 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  font-size: 14px;
  line-height: 1.6;
  cursor: pointer;
  max-height: 200px;
  overflow-y: auto;
}

.playlist-name {
  text-align: center;
  color: #2b3c5b;
}

.playlists-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
}

.playlists-cards > div {
  background: rgb(236, 157, 78);
  /* background: rgb(245, 235, 220); */
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  padding: 10px;
  text-align: center;
  min-width: 0;
}

.playlist-titles::-webkit-scrollbar {
  width: 8px;                 /* ширина полосы */
}

.playlist-titles::-webkit-scrollbar-track {
  background: rgb(233, 187, 142);  /* фон дорожки */
  border-radius: 10px;
}

.playlist-titles::-webkit-scrollbar-thumb {
  background: rgb(180, 120, 70);   /* сам ползунок */
  border-radius: 10px;
}

.playlist-titles::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 90, 50);
}

.cover-playlist {
  width: 100px;
  height: 100px;
}

.hidden {
  display: none;
}

.spotify-wrapper {
  overflow: hidden;
  border-radius: 12px; 
  background: #000;           
  margin-top: 35px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.spotify-wrapper iframe {
  display: block;
  width: 100%;
  height: 152px; 
  background: #000;
  margin-bottom: 0;
  padding-bottom: 0;
}